<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
      <a class="nav-link" [routerLink]="['/perfil-administrador']" routerLinkActive="active" >Administrador</a>
      <a class="nav-link" [routerLink]="['/perfil-usuario']" routerLinkActive="active">Usuarios</a>
      <a class="nav-link" [routerLink]="['/registro-usuario']" routerLinkActive="active">Registrar usuarios</a>
      <!-- <a class="nav-link" [routerLink]="['/perfil-detalle']" routerLinkActive="active">lista usuarios</a> -->

    </ul>

  </nav>
