<app-header></app-header>
<router-outlet></router-outlet>
<!--  Usuarios:String[]= [ nombre , lastName , edad, Foto, Descripció, Correu, Contrasenya,] -->
<!-- <div class="col">
    <div class="list-group">
      <a *ngFor="let usuario of usuariosArray" class="list-group-item list-group-item-action"
        (click)="infoUsuario(usuario)">{{usuario.nombre }}</a>
    </div> -->


<!-- <div class="col">
  <div class="list-group">
    <a *ngFor="let usuario of usuariosArray " class="list-group-item list-group-item-action"></a>

</div>

 -->

